@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy. We like GDPR. Or do we?
    This does not seem to work at all? Test.
</p>

<small>The small print goes here.</small>
